In [1]:
# Let's Begin !

In [2]:
# Import Libraries

import pandas as pd

In [3]:
# Load dataset

df = pd.read_csv('Play Store Data.csv')

In [4]:
# Dataset First Look of play_store data

df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [5]:
# Dataset Last look of play_store data

df.tail()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [6]:
# Dataset Rows & Columns count

print(f'Play Store Dataset has {df.shape[0]} Rows. \nPlay Store Dataset has {df.shape[1]} Columns.')

Play Store Dataset has 10841 Rows.
Play Store Dataset has 13 Columns.

In [7]:
# Play store Dataset Duplicate Value Count

print(f'Play Store Dataset has {df.duplicated().sum()} duplicates values')

Play Store Dataset has 483 duplicates values

In [8]:
# Drop duplicates values from the Play Store Dataset

df.drop_duplicates()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [9]:
# Null values from the Play Store Dataset

df.isna().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [10]:
df.dropna(inplace = True)

In [11]:
df.isna().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

In [12]:
# Play Store Dataset Info

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9360 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9360 non-null   object
 1   Category        9360 non-null   object
 2   Rating          9360 non-null   float64
 3   Reviews         9360 non-null   object
 4   Size            9360 non-null   object
 5   Installs        9360 non-null   object
 6   Type            9360 non-null   object
 7   Price           9360 non-null   object
 8   Content Rating  9360 non-null   object
 9   Genres          9360 non-null   object
 10  Last Updated    9360 non-null   object
 11  Current Ver     9360 non-null   object
 12  Android Ver     9360 non-null   object
dtypes: float64(1), object(12)
memory usage: 1023.8+ KB

In [13]:
# Changing the 'Reviews' column values into valid numeric values

df['Reviews'] = df['Reviews'].astype(int)

In [14]:
# Remove "$" from "Price" columns to make it numeric

df['Price'] = df['Price'].str.replace('$','',regex = False).astype(float)

In [15]:
#Changing the 'Last Updated' column values into valid datetime format

df['Last Updated'] = pd.to_datetime(df['Last Updated'])

In [16]:
# Remove signs & symbols  from "Price" columns to make it numeric

df['Installs'] = df['Installs'].str.replace(',','').str.replace('+','')
df['Installs'] = df['Installs'].astype(int)

C:\Users\HP\AppData\Local\Temp\ipykernel_8204\2665045686.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Installs'] = df['Installs'].str.replace(',','').str.replace('+','')

In [17]:
# Q1 - Total Number of App Titles Contain Astrology

Astrology_Apps = df[df['App'].str.contains('Astrology',case = False)]
Astrology_Apps

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
1570,Horoscopes – Daily Zodiac Horoscope and Astrology,LIFESTYLE,4.6,161143,11M,10000000,Free,0.0,Everyone 10+,Lifestyle,2018-06-25,5.2.4(881),4.0.3 and up
1592,သိင်္ Astrology - Min Thein Kha BayDin,LIFESTYLE,4.7,2225,15M,100000,Free,0.0,Everyone,Lifestyle,2018-07-26,4.2.1,4.0.3 and up
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,10000000,Free,0.0,Everyone,Lifestyle,2018-07-25,Varies with device,Varies with device

In [18]:
# Q2 - Find Average App Rating

avg_app_rating = df['Rating'].mean()
print(f"Average App Ratings :",avg_app_rating)

Average App Ratings : 4.191837606837612

In [19]:
# Q3 - Find Total Number of Unique Category

print(f"Play Store Dataset cointains {df['Category'].nunique()} unique category.\n {'-'*50} \n Category Names : \n",df['Category'].unique())

Play Store Dataset cointains 33 unique category.
 --------------------------------------------------
 Category Names :
 ['ART_AND_DESIGN' 'AUTO_AND_VEHICLES' 'BEAUTY' 'BOOKS_AND_REFERENCE'
 'BUSINESS' 'COMICS' 'COMMUNICATION' 'DATING' 'EDUCATION' 'ENTERTAINMENT'
 'EVENTS' 'FINANCE' 'FOOD_AND_DRINK' 'HEALTH_AND_FITNESS' 'HOUSE_AND_HOME'
 'LIBRARIES_AND_DEMO' 'LIFESTYLE' 'GAME' 'FAMILY' 'MEDICAL' 'SOCIAL'
 'SHOPPING' 'PHOTOGRAPHY' 'SPORTS' 'TRAVEL_AND_LOCAL' 'TOOLS'
 'PERSONALIZATION' 'PRODUCTIVITY' 'PARENTING' 'WEATHER' 'VIDEO_PLAYERS'
 'NEWS_AND_MAGAZINES' 'MAPS_AND_NAVIGATION']

In [20]:
# Q4 - Which Category Has The Highest Average Rating?

df[['Category','Rating']].groupby('Category').mean().sort_values(by = 'Rating' ,ascending = False)

                       Rating
Category
EVENTS               4.435556
EDUCATION            4.389032
ART_AND_DESIGN       4.377049
BOOKS_AND_REFERENCE  4.346067
PERSONALIZATION      4.335256
PARENTING            4.300000
GAME                 4.286326
BEAUTY               4.278571
HEALTH_AND_FITNESS   4.277104
SHOPPING             4.259664
SOCIAL               4.255598
WEATHER              4.244000
SPORTS               4.223511
PRODUCTIVITY         4.211396
HOUSE_AND_HOME       4.197368
FAMILY               4.192383
PHOTOGRAPHY          4.192114
AUTO_AND_VEHICLES    4.190411
MEDICAL              4.189143
LIBRARIES_AND_DEMO   4.179688
FOOD_AND_DRINK       4.166972
COMMUNICATION        4.158537
COMICS               4.155172
NEWS_AND_MAGAZINES   4.132189
FINANCE              4.131889
ENTERTAINMENT        4.126174
BUSINESS             4.121452
TRAVEL_AND_LOCAL     4.109292
LIFESTYLE            4.094904
VIDEO_PLAYERS        4.063750
MAPS_AND_NAVIGATION  4.051613
TOOLS                4.047203
DATING               3.970769

In [21]:
# Q5- Find Total Number of App having 5 Star Rating

print(f"Total Apps having 5 Star ratings : {len(df[df['Rating']==5.0])}")

Total Apps having 5 Star ratings : 274

In [22]:
# Q6 - Find Average Value of Reviews
 
print(f"Average Ratings Of Apps : {df['Reviews'].mean()}")

Average Ratings Of Apps : 514376.7052350427

In [23]:
# Q7 - Find Total Number of Free and Paid Apps

df['Type'].value_counts()

Free    8715
Paid     645
Name: Type, dtype: int64

In [24]:
# Q8 - Which App Has Maximum Reviews?

df[['App', 'Reviews']].sort_values(by='Reviews', ascending=False).head(1)

           App   Reviews
2544  Facebook  78158306

In [25]:
# Q8 - Display Top 5 Apps Having Highest Reviews

df[['App', 'Reviews']].sort_values(by='Reviews', ascending=False).head(5)

                     App   Reviews
2544            Facebook  78158306
3943            Facebook  78128208
381   WhatsApp Messenger  69119316
336   WhatsApp Messenger  69119316
3904  WhatsApp Messenger  69109672

In [26]:
# Q9 - Find Average Rating of Free and Paid Apps

df.groupby('Type')['Rating'].mean()

Type
Free    4.186288
Paid    4.266822
Name: Rating, dtype: float64

In [27]:
# Q10 - Display Top  5 Apps Having Maximum Installs
df[['App','Installs']].sort_values(by= 'Installs', ascending = False).head(5)

                                           App    Installs
451                                      Gmail  1000000000
3665                                   YouTube  1000000000
382   Messenger – Text and Video Chat for Free  1000000000
386                                   Hangouts  1000000000
391              Skype - free IM & video calls  1000000000

In [28]:
# Q11 - Rating According to the category 

df.groupby('Category')['Rating'].mean()

Category
ART_AND_DESIGN         4.377049
AUTO_AND_VEHICLES      4.190411
BEAUTY                 4.278571
BOOKS_AND_REFERENCE    4.346067
BUSINESS               4.121452
COMICS                 4.155172
COMMUNICATION          4.158537
DATING                 3.970769
EDUCATION              4.389032
ENTERTAINMENT          4.126174
EVENTS                 4.435556
FAMILY                 4.192383
FINANCE                4.131889
FOOD_AND_DRINK         4.166972
GAME                   4.286326
HEALTH_AND_FITNESS     4.277104
HOUSE_AND_HOME         4.197368
LIBRARIES_AND_DEMO     4.179688
LIFESTYLE              4.094904
MAPS_AND_NAVIGATION    4.051613
MEDICAL                4.189143
NEWS_AND_MAGAZINES     4.132189
PARENTING              4.300000
PERSONALIZATION        4.335256
PHOTOGRAPHY            4.192114
PRODUCTIVITY           4.211396
SHOPPING               4.259664
SOCIAL                 4.255598
SPORTS                 4.223511
TOOLS                  4.047203
TRAVEL_AND_LOCAL       4.109292
VIDEO_PLAYERS          4.063750
WEATHER                4.244000
Name: Rating, dtype: float64

In [29]:
df[['Category','Rating']]

                  Category  Rating
0           ART_AND_DESIGN     4.1
1           ART_AND_DESIGN     3.9
2           ART_AND_DESIGN     4.7
3           ART_AND_DESIGN     4.5
4           ART_AND_DESIGN     4.3
...                    ...     ...
10834               FAMILY     4.0
10836               FAMILY     4.5
10837               FAMILY     5.0
10839  BOOKS_AND_REFERENCE     4.5
10840            LIFESTYLE     4.5

[9360 rows x 2 columns]

In [30]:
#Ratings given by different age of people

df['Content Rating'].value_counts()

Everyone           7414
Teen               1084
Mature 17+          461
Everyone 10+        397
Adults only 18+       3
Unrated               1
Name: Content Rating, dtype: int64